img{
    width: 500px;
    height: 500px;
    margin-left: 20px;
    margin-right: 50px;
}

h1{
    margin-bottom: 25px;
}

hr{
    margin: 10px 20px 0px;
    display: block;
    height: 1.5px;
    background-color: #4b4343;
    border: 0;
    width: 1000px;
    justify-content: center;
}

.main_abs{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around ;
    color: #181818;
}

.abs_pics{
    font-size:larger;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
    
}

.employees{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between ;
    text-align: center;
    align-items: center;
}

.chief{
    padding-bottom: 20px;
}

.seamstresses , .it{
    height: auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.first , .second{
padding-left: 30px;
padding-right: 30px;
}

.pics{
    height: 350px;
    width: 350px;
}

@media screen and (max-width: 1000px) 
{
    .abs_pics{
        display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
    }
    .abs_pics>img{
        height: 350px;
        width: 350px;
    }
    
 }