.main_abs{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around ;
    color: #463534;
}
.abs_pics{
    font-size:larger;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    align-items: center;
}
img{
    width: 500px;
    height: 500px;
    margin-left: 20px;
    margin-right: 50px;
}
.employees{
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around ;
    text-align: center;
    align-items: center;
}
h1{
    margin-top: 30px;
    margin-bottom: 20px;
}
.seamstresses , .it{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.pics{
    height: 350px;
    width: 350px;
}
@media screen and (max-width: 800px) 
{
    .abs_pics{
        display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
    }
    .abs_pics>img{
        height: 350px;
        width: 350px;
    }
 }