.catalogue-item{
    display: block;
    width: 370px;
    background-color: #4b4343;
    text-align: center;
    flex-direction: column;
    margin: 30px 5px;
    padding: 20px;
    border-radius: 20px;
}

.catalogue-pic{
    width: 300px;
    height: 350px;
    border-radius: 5px;
    margin: 0;
}

.details-button{
    padding: 10px;
    margin: 10px;
    width: 150px;
    border-radius: 10px;
}

.details-button:hover{
    cursor: pointer;
}

.catalogue-div{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}

.item-heading{
    font-size: 35px;
    margin-left: 100px;
    margin-top: 30px;
}

.expand-button{
    text-decoration: none;
    color:  #3a3a3a;
}

#item-details{
    position: absolute;
    width: 60%;
    height: 600px;
    left: 400px;
    top: 200px;
    background-color: #4b4343;
    display: none;
}


