.catalogue-item{
    display: block;
    background-color: #4b4343;
    text-align: center;
    margin: 0px 30px 30px;
    padding: 20px;
    border-radius: 20px;
}

.catalogue-pic{
    width: 300px;
    height: 350px;
    border-radius: 5px;
    margin: 0;
}

.details-button{
    padding: 10px;
    color: rgb(208, 208, 208);
    background-color: #a49292;
    opacity: 0.68;
    margin: 10px;
    width: 150px;
    border-radius: 10px;
    border: 0;
}
.details-button:hover{
    opacity: 1;
}

.details-button:hover{
    cursor: pointer;
}

.catalogue-div{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
}

.item-heading{
    font-size: 35px;
    margin: 20px 0px 20px 100px;
}

.expand-button{
    text-decoration: none;
    color:  #3a3a3a;
}

#item-details{
    position: absolute;
    width: 60%;
    height: 600px;
    left: 400px;
    top: 200px;
    background-color: #4b4343;
    display: none;
}


