footer{
    background-color: #3a3a3a;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 30px 60px;
}

#footer-nav{
    list-style-type: none;
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

#footer-nav li{
    display: flex;
    padding: 20px;
}

#footer-nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#firm-name{
    padding: 5px 0px 0px;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #b7b0b0;
}

#working-hours{
    padding: 7% 5%;
}
#working-hours li{
    padding: 5px 20px;
}

#social-icons{
    display: flex;
    padding: 0 2px;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.icon{
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

#social-media{
    padding: 0 40px;
}

.footer-div{
    justify-content: center;
}

#copyright{
    margin-top: 20px;
    text-align: center;
}

#copyright hr{
    margin: 10px ;
    display: block;
    height: 1.5px;
    background-color: #4b4343;
    border: 0;
    width: 1000px;
    justify-content: center;
}