footer{
    background-color: #3a3a3a;
    color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 30px ;
    margin-top: auto;
    font-size: 10px;
    opacity: 0.85;
}

#footer-nav{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#footer-nav li{
    display: flex;
    padding: 20px 20px 0px;
}

#footer-nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#firm-name{
    padding: 5px 0px 0px;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #b7b0b0;
}

#social-icons{
    display: flex;
    padding: 0 2px;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.icon{
    width: 20px;
    height: 20px;
}

#social-media{
    padding: 10px 0px 20px;
}

.footer-div{
    text-align: center;
}

#copyright{
    margin-bottom: -20px;
    text-align: center;
    font-size: 6px;
}
