.google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 100px;
    overflow: hidden;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 45% !important;
  }