body{
    background-color: #e5deca;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: #bfaa8c;
    margin: 0;
    padding: 15px;
}

nav li{
    padding: 0 20px;
    display:inline-block;
}
nav li a {
    color: white;
    text-decoration: none;

}
a:hover{
    color: #000;
}

.google-maps {
    position: relative;
    padding-bottom: 500px; 
    overflow: hidden;
    background-color: red;
  }
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#firm-name{
    text-align: left;
}

.nav-right{
    text-align: right;

}