.main_face{
    background-image: url(../images/99.jpg);
    height: 100vh;
    z-index: 1;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    height: 700px;
    background-attachment:fixed;
    margin-top: -80px ;
    display: grid;
    -webkit-box-shadow: 0px 5px 25px 15px rgba(191,166,166,1);
    -moz-box-shadow: 0px 5px 25px 15px rgba(191,166,166,1);
    box-shadow: 0px 5px 25px 15px rgba(191,166,166,1);
}

.down-arrow{
    color: rgba(255, 255, 255, 0.545);
    text-align: center;
    font-size: 30px;
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
}

.abs{
    opacity: 0.55px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 90px 0px 20px;
    font-size: 25px;
}
.more-abs{
    color: rgb(23, 1, 1);
    text-decoration: none;
    font-size: 20px;
}
.logo{
    width: 500px;
    height: 500px;
    margin: 0;
    opacity: 0.75;
}

.services{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    align-items: center;
}
.services>div{
    height: 250px;
    width: 350px;
    background-color: rgba(178, 147, 147, 0.466);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
}

.catalog{
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.catalog-items{
    object-fit: cover;
    width: fit-content;
    position:relative;
    display: flex;
    right: 100px;
    width: 1100px;
}
.item{
    border-radius: 30px;
}
.pics{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pic-2{
    background-image: url(../images/gallery/бельо/7.jpg);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 500px;
    width: 350px;
    margin: 0px 5px 20px;
}
.pic-1{
    background-image: url(../images/gallery/бельо/5.jpg);
    height: 100vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 450px;
    width: 250px;
    margin: 0px 10px 20px;
}
.pic-3{
    background-image: url(../images/gallery/бельо/11.jpg);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 400px;
    height: 450px;
    width: 350px;
    margin: 0px 10px 20px;
}
.catalog-info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}






