*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3eee5;
    font-family: 'Roboto', sans-serif;
}

main{
    padding-bottom: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bfaa8c;
    position: inherit;
    left: 0;
    right: 0;
}

footer{
    background-color: #e5deca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
}

ul{
    list-style-type: none;
}

nav{
    margin: 0;
    padding: 15px;
}

nav li{
    padding: 0 20px;
    display:inline-block;
}
nav li a {
    color: white;
    text-decoration: none;

}
a:hover{
    color: #000;
    text-decoration: underline;
}

#footer-nav{
    list-style-type: none;
    padding: 40px 60px;
}

#footer-nav li{
    display: block;
    padding: 10px;
}

#footer-nav li a{
    text-decoration: none;
    color: black;
}

.google-maps {
    position: relative;
    padding-bottom: 500px; 
    overflow: hidden;
  }
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#firm-name{
    padding: 30px;
    text-decoration: none;
    color: beige;
}

#working-hours{
    padding: 7% 5%;
}
#working-hours li{
    padding: 5px 20px;
}

#contact{
    width: 70%;
    height: 20rem;
    border-radius: 15px;
    background-color: white;
    margin: auto;
    text-align: center;
    display: block;
    padding: 45px;
}
#contact p, form{
    padding: 10px;
}

#contact-main{
    padding: 20px;
}

#social-icons{
    display: flex;
    padding: 0 2px;
}

.icon{
    padding: 5px;
    width: 44px;
    height: 44px;
    margin-top: 15px;
}