table{
    width: 100%;
    min-width: 900px;
}

.service-div{
    min-height: 300px;
    height: fit-content;
    width: 100%;
    padding: 65px 0px;
}
.main-service{
    background-image: url(../images/99.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;

}
.service-div h2, h4{
    margin-bottom: 20px;
    color: #ffffff;
}

/* general buttons style */
.service-btn{
    padding: 20px;
    width: 350px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    color: rgb(249, 249, 241);
    background-color: rgba(206, 192, 192, 0.371);
    margin: 12px;
}

.service-btn:hover{
    cursor: pointer;
    box-shadow: 1px -2px 39px 2px rgba(88, 49, 49, 0.545);
    -webkit-box-shadow: 1px -2px 39px 2px rgba(88, 49, 49, 0.545);
    -moz-box-shadow: 1px -2px 39px 2px rgba(88, 49, 49, 0.545);
    transition: 1s;
}

.ask-div{
    background-color: rgba(134, 99, 99, 0.533);
    padding: 30px 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#order-div , #rent-div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.order-but,.service-but{
    justify-content: space-between;
    align-items:center;
    display: flex;
    flex-direction: row;
}


#womens-sizes{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#womens-sizes thead tr{
    background-color: #3f121584;
    color: #ffffff;
    text-align: left;
}

#womens-sizes th, td{
    padding: 12px 15px;
}

#womens-sizes tbody tr{
    border-bottom: 1px solid #dddddd;
}

#womens-sizes tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#womens-sizes tbody tr:last-of-type {
    border-bottom: 2px solid #581217a6;
}


.qstn-first-line input{
    width: 100%;
    background-color: transparent;
    border: none;
}

.qstn-first-line input:focus{
    outline: none;
}

.qstn-first-line{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.service-input-fields{
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    padding-top: 6px;
    background-color: white;
    opacity: 60%;
}

.qstn-textarea textarea{
    width: 97%;
    resize: none;
    height: 130px;
    background-color: transparent;
    padding: 12px;
    border: none;
}

.qstn-textarea textarea:focus{
    outline: none;
}


.qstn-textarea{
    text-align: left;
}

.send-question{
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 10px;
    border: 0px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #d4bfbf77;
    color: #ffffff;
    opacity: 0.85;
}
#price-list{
    justify-content: center;
    margin-top: 40px;
}
.send-question:hover{
    opacity: 1;
    box-shadow: 1px -2px 39px 2px rgba(88, 49, 49, 0.545);
    -webkit-box-shadow: 1px -2px 39px 2px rgba(88, 49, 49, 0.545);
    -moz-box-shadow: 1px -2px 39px 2px rgba(88, 49, 49, 0.545);
    transition: 1s;
}
#inner-qstn-wrapper{
    border-radius: 7px;
    border: 1px solid black;
    background-color: white;
    opacity: 60%;
}

@media screen and (max-width: 1100px) {
    .qstn-first-line{
    grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 715px) {
    .qstn-first-line{
    grid-template-columns: 1fr;
    }
}