/* table styling */
table, tr, td{
    border: 1px solid;
    border-collapse: collapse;
}

table{
    width: 70%;
}

td{
    padding: 10px;
}

.service-div{
    height: 600px;
    width: 100%;
    display: flexbox;
    vertical-align: bottom;
}

/* general buttons style */
.service-btn{
    padding: 20px;
    width: 350px;
    font-size: 23px;
    border-radius: 20px;
    border: none;
    margin: 12px;
}

.service-btn:hover{
    cursor: pointer;
}

.ask-div{
    background-color: aliceblue;
}

#order-div{
    background-color: #faf0e6;
    border-bottom: 1pt solid black;
}

#rent-div{
    background-color: rgb(253, 236, 236);
}

#womens-sizes-div{
    padding: 40px 50px;
    background-color: azure;
}
