@import './abs.css';
@import './contacts.css';
@import './footer.css';

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'IBM Plex Serif', serif;
    background-color: rgb(234, 224, 224);
    font-size: 18px;
}
main{
    padding-bottom: 40px;
    display: block;
}

header {
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: #1b1b1b; 
    flex-direction: column;
    position: inherit;
    opacity: 0.75;
}

ul{
    list-style-type: none;
}

nav{
    margin: 0;
    padding-bottom: 20px;
}

nav li{
    padding: 0 20px;
    display:inline-block;
}
nav li a {
    color: white;
    text-decoration: none;

}
a:hover{
    color: #b8b8b8;
    opacity: 1;
}
#firm-name:hover{
    color: #cdc2c2;
}
.top-footer-div{
    display: flex;
}
@media screen and (max-width: 900px) 
{
    #firm-name{
        font-size: 30px;
    }
}