@import './abs.css';
@import './contacts.css';
@import './footer.css';

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'IBM Plex Serif', serif;
    background-color: #ede5e5;
    font-size: 18px;
}
main{
    padding-bottom: 40px;
    display: block;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9b8d8d; 
    position: inherit;
    left: 0;
    right: 0;
}
header>a{
    opacity: 0.55;
}

ul{
    list-style-type: none;
}

nav{
    margin: 0;
    padding: 15px;
}

nav li{
    padding: 0 20px;
    display:inline-block;
}
nav li a {
    color: white;
    text-decoration: none;

}
a:hover{
    color: #3a2827;
    opacity: 1;
}

.top-footer-div{
    display: flex;
}
@media screen and (max-width: 900px) 
{
    #firm-name{
        font-size: 15px;
    }
}