@import './header.css';
@import './footer.css';
@import './home-page.css';
@import './catalogue.css';
@import './services-page.css';
@import './about-us.css';
@import './contacts.css';


/* general page settings */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'IBM Plex Serif', serif;
    background-color: rgb(253, 236, 236);
    font-size: 18px;
}

main{
    display: block;
    margin-top: 80px;
}

ul{
    list-style-type: none;
}

.page{
    overflow: hidden;
    display: grid;
    min-height: 100vh;
}